<!DOCTYPE html>
<html lang="en">
    <head><%- include("partials/head")%></head>
<body>
    <header><%- include("partials/header")%></header>
    <main class="contactos_main">
        <div class="div_padre_contactos">
            <h1 class="titulo_contacto">contactanos en nuestras redes sociales</h1>
            <h2 class="subtitulo_contacto">Haz click en la de tu preferencia</h2>
            <div class="div_hijo_contactos">
                <a href="#" title="Instagram"><i class='bx bxl-instagram' ></i></a>
                <a href="#" title="Facebook"><i class='bx bxl-facebook-square'></i></a>
                <a href="#" title="Whatsapp"><i class='bx bxl-whatsapp' ></i></a>
                <a href="#" title="Gmail"><i class='bx bx-envelope'></i></a>
            </div>
        </div>

    </main>
    <footer><%- include("partials/footer")%></footer>
    <script src="/javascripts/home.js"></script>
</body>
</html>