<footer class="Footer">
    <ul class="footer_uls">
      <li><a href="#" class="enlaces_footer">¿Quienes somos?</a></li>
      <li><a href="#" class="enlaces_footer">Nuestras politicas</a></li>
      <li>
        <img src="/images/logo.png" alt="Logo" id="logo_footer"/>
      </li>
      <li><a href="#" class="enlaces_footer">Unete al equipo</a></li>
      <li><a href="/contact" class="enlaces_footer">Contactanos</a></li>
    </ul>
    <span class="copyright"
      >©Copyright 2024 Game Store 507. All rigths reserved.</span
    >
  </footer>