.caja_padre {
    width: 60%;
}
#formulario_login {
    margin-top: 30px;
    gap: 15px;
}
.div_inputs_login  {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_inputs_login i {
    color: rgb(0, 200, 255);
    text-shadow: 0 0 5px rgb(170, 0, 255);
    font-size: 35px;
    margin-bottom: 10px;
}
#errorEmail, #errorPassword {
    color: red;
    font-size: 90%;
    list-style-type: none;
}
#errorEmail i, #errorPassword i{
    font-size: 20px;
}
#cart_error {
    background-color: transparent;
    color: red;
    border: none;
}
#show_icon {
    position: absolute;
    top: 310px;
    right: 200px;
    cursor: pointer;
}
.label_enlaces {
    text-align: center;
}
@media screen and (max-width: 575.98px) {
    #show_icon {
        top: 298px;
    right: 80px;
    }
    .div_inputs {
        align-items: center;
    }
}