<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head")%>
  </head>
  <body>
    <header><%- include("../partials/header")%></header>
    <main class="productos_main">
      <div class="div_padre_productos">
        <h1 class="titulo_productos">Detalles de producto</h1>
        <div class="div_hijo_productos">
          <section class="section_imagenes_productos">
            <div class="img_producto_grande">
              <img src="/images/audifonos_logitech_g635.webp" />
            </div>
            <div class="img_producto_chicas">
              <img src="/images/audifonos_logitech_g635.webp" />
              <img src="/images/audifonos_logitech_g635.webp" />
              <img src="/images/audifonos_logitech_g635.webp" />
              <img src="/images/audifonos_logitech_g635.webp" />
            </div>     
        </section>
          <section class="section_texto_productos">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum illum
            repellat necessitatibus nam voluptate amet repellendus deserunt
            debitis blanditiis quas inventore doloremque dolorum, nesciunt ea
            praesentium laborum ratione, aspernatur ullam!
          </section>
        </div>
      </div>
    </main>
    <footer><%- include("../partials/footer")%></footer>
    <script src="/javascripts/home.js"></script>
  </body>
</html>
